body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #950bcc;
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
  padding: 45px ;
}


.centerTable {
  margin: 0px auto;
}

h2 {
    color: #950bcc;
    padding: 12px ;
}
